/* Adicionando texto antes e depois com pseudo-elementos */
.aviso::before {
    content: "Atenção: ";
    font-weight: bold;
    color: red;
}

.aviso::after {
    content: " [importante]";
    font-weight: bold;
    color: blue;
}

/* Estilizando a primeira letra do parágrafo */
p::first-letter {
    font-size: 2em;
    color: green;
}
